:root {

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    border: 0;
    height: 100vh;

    display: grid;
    grid-template: 1fr 4fr / auto 3fr 1fr ;
    grid-template-areas: 
    'dashboard header header'
    'dashboard main right-sidebar'
    ;
}

header {
    grid-area: header;
}
.left-sidebar {
    grid-area: dashboard;
}

main#projects-board {
    grid-area: main;
}

#right-sidebar {
    grid-area: right-sidebar;
}



